.icon-radius-60{
    border-radius: 60%;
}


.bg-palid{
    background-color: #f2e083 !important;
}


.option-nav:hover{
    background-color: #f9ba2d;
    color: #383b3e;
}



.option-nav{
    text-decoration: none;
    color: #ffff;
    height: 30px;
    padding-top: 0.2%;
}

.option-active{
    color: #383b3e;
    text-decoration: none;
    background-color: #f9ba2d;
    padding-top: 0.2%;
}

.option-active:hover{
    background-color: #f9ba2d;
    color: #383b3e;
}

.option-nav > i {
    color: #f9ba2d;
}

.option-active > i {
    color: #383b3e;
}

.option-nav:hover > i{
    color: #383b3e;
}

.bg-principal{
    background-color: #f9ba2d !important;
}

.lista-sucursal{
    margin: 0px;
    padding: 0px;
}
.btn-nuevo{
    color: #ffff;
}

.btn-nuevo:hover{
    color: #f9ba2d;
    border-color: none;
    box-shadow: none;
    
}

.text-primary{
    color: #2d5a9e !important;
}

.text-success{
    color: #77c344 !important;
}

.text-warning{
    color: #fba221 !important;
}

.ordenar{
    width: 10%;;
}

.btn-ordenar{
    padding-right: 0px;
    padding-left: 0px;
}

.spinner-cargando{
    width: 5rem;
    height: 5rem;
}

.btn-buscar{
    width: 100%;
}

.btn-buscar:hover{
    color: #f9ba2d;
}


.icon-error{
    font-size: 1000%;
}

.link-sucursal{
    text-decoration: none;
    color: #383b3e;
}

.link-sucursal:hover{
    color: #383b3e;
}


.custom-select{
    display: block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.content-cargando{
    background: transparent;
    border: 0px;
}


.btn-ordenar-check{
    margin-right: 5px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

  }
    

  